.container {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 400px auto 0;
  /*border: 1px solid #CCC;*/
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}
#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-200px);
  -moz-transform: translateZ(-200px);
  -o-transform: translateZ(-200px);
  transform: translateZ(-200px);
}
#cube figure {
  display: block;
  position: absolute;
  width: 396px;
  height: 396px;
  border: 2px solid black;
  line-height: 396px;
  font-size: 240px;
  font-weight: bold;
  color: white;
  text-align: center;
}
#cube .front {
  background: hsla(0, 100%, 50%, 0.7);
}
#cube .back {
  background: hsla(60, 100%, 50%, 0.7);
}
#cube .right {
  background: hsla(120, 100%, 50%, 0.7);
}
#cube .left {
  background: hsla(180, 100%, 50%, 0.7);
}
#cube .top {
  background: hsla(240, 100%, 50%, 0.7);
}
#cube .bottom {
  background: hsla(300, 100%, 50%, 0.7);
}
#cube .front {
  -webkit-transform: translateZ(200px);
  -moz-transform: translateZ(200px);
  -o-transform: translateZ(200px);
  transform: translateZ(200px);
}
#cube .back {
  -webkit-transform: rotateY(180deg) translateZ(200px);
  -moz-transform: rotateY(180deg) translateZ(200px);
  -o-transform: rotateY(180deg) translateZ(200px);
  transform: rotateY(180deg) translateZ(200px);
}
#cube .right {
  -webkit-transform: rotateY(90deg) translateZ(200px);
  -moz-transform: rotateY(90deg) translateZ(200px);
  -o-transform: rotateY(90deg) translateZ(200px);
  transform: rotateY(90deg) translateZ(200px);
}
#cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
  -moz-transform: rotateY(-90deg) translateZ(200px);
  -o-transform: rotateY(-90deg) translateZ(200px);
  transform: rotateY(-90deg) translateZ(200px);
}
#cube .top {
  -webkit-transform: rotateX(90deg) translateZ(200px);
  -moz-transform: rotateX(90deg) translateZ(200px);
  -o-transform: rotateX(90deg) translateZ(200px);
  transform: rotateX(90deg) translateZ(200px);
}
#cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(200px);
  -moz-transform: rotateX(-90deg) translateZ(200px);
  -o-transform: rotateX(-90deg) translateZ(200px);
  transform: rotateX(-90deg) translateZ(200px);
}
